
/* font */
.open-sans {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  body{
    background-color: #D5D6D8;
  }
/* header */
nav{
    display: flex;
    justify-content: space-between;
    margin:31px 160px ;
}

.sign-in-btn{
    width: 116px;
    height: 52px;
    color: #006A50;
    border-radius: 8px;
    border-style: solid;
    border-color: #006A50;
    background-color: #F5F5F5;
    font-size: 18px;
    font-weight: 600;
}

nav h3{
    font-size: 32px;
    font-weight: bold;
    
}
.head-banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    margin: 20px 160px 80px 160px;
    width: 1280px;
    height: 560px;
    border-radius: 24px;
    align-items: center;
    
}

.banner-pic{
    width: 474.03px;
    height: 400px;
    padding: 80px 60px 80px 64px;
}
.banner-content{
    padding: 117.5px 0 117.5px 60px;
}
header section h4{
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
}
header section h2{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
    width: 622px;
    height: 201px;
}

.explore-btn{
    width: 270px;
    height: 56px;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

/* shared style */

.title-style{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    padding-left: 160px;
}
.pillar-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}
.description{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
}
.paragraph{
    margin: 24px 160px;
    width: 1280px;

}
.common-btn{
    width: 145px;
    height: 50px;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border: none;
    margin-top: 24px;
    
}

/* main */

.pillars-container{
    display: flex;
    gap: 24px;
    margin: 160px;
    margin-top: 32px;
}

.pillar{
    padding: 24px;
    width: 302px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

/* future section */
.vision{
    padding: 32px;
    width: 410.67px;
    height: 300px;
    border-radius: 16px;
    
}
.first{
    background-color: #548ff535;
}
.second{
    background-color: #C6E4D6;
}
.third{
    background-color: #F7EBCF;
}
.first-btn{
    background-color: #5490F5;
    width: 122px;
    height: 41px;
    color: #FFFFFF;
    border-radius: 8px;
    margin: 24px 224px 32px 0px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.second-btn{
    background-color: #09A15C;
    width: 122px;
    height: 41px;
    color: #FFFFFF;
    border-radius: 8px;
    margin: 32px 224px 32px 0px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}
.third-btn{
    background-color: #FFC239;
    width: 122px;
    height: 41px;
    color: #FFFFFF;
    border-radius: 8px;
    margin: 28px 224px 32px 0px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

/* Chief-Adviser-section */
.new-bd{
    margin: 32px 160px;
    background-color: #FFFFFF;
    width: 1280px;
    height: 230px;
    border-radius: 16px;
    padding: 48px 24px;
    background-image:url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 40px;
}
#dr-yunus{
    margin-bottom: 4px;
}

/* Recent News section */
.recent-news h3{
       margin-top: 80px;
}
.card-content h4{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0px;
    
}

.news-card{
    display: flex;
    margin: 32px 160px 24px 160px;
    width: 1280px;
    height: 402px;
    background-color: #FFFFFF;
    border-radius: 24px;
}

.card-img{
    width: 408px;
    height: 306px;
    padding: 48px 32px 48px 48px;
    
}
.card-content{
    width: 744px;
    height: 290px;
    padding: 0px 48px 56px 32px;
   
    
}

.card-content img{
    padding-top: 10px;
}

.date{
    display: flex;
    gap: 12px;
}
.second-card-img{
    width: 408px;
    height: 306px;
    padding: 48px 48px 48px 32px;
}
.second-card-content{
    width: 744px;
    height: 290px;
    padding: 0px 32px 56px 48px;
}
.second-card-content h4{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0px;
}
.second-card-content img{
    padding-top: 10px;
}

/* donate section */
.donate-header{
    text-align: center;
}

.donate{
    width: 1280px;
    height: 464px;

}
.donate-header h3{
    padding-left: 350px;
}
.donate-box{
    width: 270px;
    height: 100px;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding-top: 35px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #0E0E0E;
    
}
.different-box{
    width: 270px;
    height: 100px;
    border-radius: 16px;
    background-color: #C6E4D6;
    padding-top: 35px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #0E0E0E;
}
.donate-boxs{
    display: flex;
    gap: 24px;
    padding-left: 350px;
}
.Amount{
    width: 950px;
    height: 55px;
    text-align: center;
    margin-left: 335px;
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 400px;
}
.donate button{
    margin-left: 724px;
}